﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8"/>
    <!-- injector:css -->
  <link href="../bower_components/angularjs-slider/dist/rzslider.css" rel="stylesheet" />
  <link href="../bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
  <link href="../bower_components/plottable/plottable.css" rel="stylesheet" />
  <link href="../bower_components/d3/lib/colorbrewer/colorbrewer.css" rel="stylesheet" />

    <!-- endinjector -->
</head>
<body ng-app="pineapples">
<div ng-controller="ctrlr as vm">
  <p>{{name}}</p>
  <!-- custom markup goes here -->
  <div gender-pyramid dataset="vm.jsonData" height="300" width="600"></div>
</div>


<script type='text/javascript' src='https://maps.google.com/maps/api/js'></script> 
<!-- injector:js -->
<script src="/scripts/vendor/jquery/dist/jquery.js"></script>
<script src="/scripts/vendor/d3/d3.js"></script>
<script src="/scripts/vendor/bootstrap/dist/js/bootstrap.js"></script>
<script src="/scripts/vendor/angular/angular.js"></script>
<script src="/scripts/vendor/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="/scripts/vendor/angular-cookie/angular-cookie.js"></script>
<script src="/scripts/vendor/angular-dc/dist/angular-dc.js"></script>
<script src="/scripts/vendor/angular-dimple/dist/angular-dimple.js"></script>
<script src="/scripts/vendor/angular-pnotify/src/angular-pnotify.js"></script>
<script src="/scripts/vendor/angular-toggle-switch/angular-toggle-switch.min.js"></script>
<script src="/scripts/vendor/angular-ui-grid/ui-grid.js"></script>
<script src="/scripts/vendor/angular-ui-router/release/angular-ui-router.js"></script>
<script src="/scripts/vendor/angular-xeditable/dist/js/xeditable.js"></script>
<script src="/scripts/vendor/angularjs-slider/dist/rzslider.js"></script>
<script src="/scripts/vendor/crossfilter/crossfilter.js"></script>
<script src="/scripts/vendor/d3-geo-projection/d3.geo.projection.js"></script>
<script src="/scripts/vendor/dcjs/dc.js"></script>
<script src="/scripts/vendor/dimple/dist/dimple.latest.js"></script>
<script src="/scripts/vendor/enquire/dist/enquire.js"></script>
<script src="/scripts/vendor/flow.js/dist/flow.js"></script>
<script src="/scripts/vendor/gmaps/gmaps.js"></script>
<script src="/scripts/vendor/jScrollPane/script/jquery.jscrollpane.min.js"></script>
<script src="/scripts/vendor/jScrollPane/script/jquery.mousewheel.js"></script>
<script src="/scripts/vendor/jScrollPane/script/mwheelIntent.js"></script>
<script src="/scripts/vendor/jquery-autosize/jquery.autosize.js"></script>
<script src="/scripts/vendor/jquery-validation/dist/jquery.validate.js"></script>
<script src="/scripts/vendor/jquery.inputmask/dist/jquery.inputmask.bundle.js"></script>
<script src="/scripts/vendor/jquery.slimscroll/jquery.slimscroll.min.js"></script>
<script src="/scripts/vendor/jquery.sparkline/index.js"></script>
<script src="/scripts/vendor/key_drag_zoom/index.js"></script>
<script src="/scripts/vendor/lodash/lodash.js"></script>
<script src="/scripts/vendor/markerclustererplus/src/markerclusterer.js"></script>
<script src="/scripts/vendor/ng-flow/dist/ng-flow.js"></script>
<script src="/scripts/vendor/ng-token-auth/customised/ng-token-auth.js"></script>
<script src="/scripts/vendor/ngmap/build/scripts/ng-map.js"></script>
<script src="/scripts/vendor/overlapping_marker_spiderfier/index.js"></script>
<script src="/scripts/vendor/plottable/plottable.js"></script>
<script src="/scripts/vendor/pnotify_build/pnotify.custom.js"></script>
<script src="/scripts/vendor/restangular/dist/restangular.js"></script>
<script src="/scripts/vendor/seiyria-bootstrap-slider/js/bootstrap-slider.js"></script>
<script src="/scripts/vendor/skylo/vendor/scripts/skylo.js"></script>
<script src="/scripts/vendor/svg-typewriter/svgtypewriter.js"></script>
<script src="/scripts/vendor/topojson/topojson.js"></script>
<script src="/scripts/app/theme.js"></script>
<script src="/scripts/app/pineapples.js"></script>
<!-- endinjector -->
<script>
    (function(angular) {
        var controller = function($scope) {
          $scope.name = "Hello World";
          var self = this;
          d3.json("/test/data/genderPyramid.json", function (error, data) {
            self.jsonData = data;

            // must do this after a d3 load
            $scope.$apply();
          });
        };
        angular
            .module("pineapples")
            .controller("ctrlr", ["$scope", controller]);
    })(window.angular);
</script>
</body>
</html>
