﻿@* Render a cross tab generated from
  a crossFilter using xFilter. this is the tempalte for the the xTable component.
*@

<dashboard-child class="dashboard-wrapper"
                 ng-class="vm.dimensions"
                 report-path="vm.reportPath"
                 toggle-selected="vm.toggleSelected"
                 is-selected="vm.isSelected()"
                 another-component-selected="vm.anotherComponentSelected()"
                 component-id="vm.componentId">

  <heading-title>{{vm.headingTitle}}</heading-title>
  <heading-filters>{{vm.headingFilters}}</heading-filters>
  <heading-options>
    <md-select ng-if="vm.headingOptions" ng-model="vm.selectedViewOption">
      <md-option ng-value="opt" ng-repeat="opt in vm.viewOptions()">{{ opt }}</md-option>
    </md-select>
  </heading-options>  

  <child-body>
    <ng-transclude>
      <h1>Stuff Goes Here</h1>
    </ng-transclude>
  </child-body>
</dashboard-child>

