﻿<panel panel-class=""
       panel-icon="map"
       heading="Map Data Analysis"
       panel-control-collapse="true">

  <panel-controls>
    <md-button class="md-icon-button" ng-click="vm.showFilter = !vm.showFilter">
      <md-icon class="material-icons md-24">search</md-icon>
      <md-tooltip md-direction="bottom">Show/Hide Search/Filter Data</md-tooltip>
    </md-button>
  </panel-controls>

  <div ng-show="vm.showFilter">
    @*<flash-find-search-component entity="listvm.theFilter"></flash-find-search-component>
      <school-searcher-component searchfields="listvm.theFilter"></school-searcher-component>
      <manipulate-map-component searchfields="listvm.theFilter"></manipulate-map-component>*@

    @*Deactivate broken flashfindsearch for now (was broken before I moved it here)
      <div id="flashfindsearch" ui-view="flashfindsearch"></div>*@
    <div id="searcher" ui-view="searcher"></div>
    <div id="manipulatemap" ui-view="manipulatemap"></div>
  </div>

  @* ng-map upgrade now deprecates name 'map' use ng-map'
    expects controller as mapctrlr
  *@
  <div map-lazy-load="https://maps.google.com/maps/api/js?key=AIzaSyBB0ek5RclWay0_-jZR9doF04wl5rI_L04">
    <ng-map zoom="6" center="[0,0]" style="display:block; height:600px" fit-content>
      <!-- <marker ng-repeat="row in mapc.pointData" position="{{row.sLat}},{{row.sLng}}" title="{{row.sFullName}}"></marker> -->
    </ng-map>
  </div>
  <img src="assets/img/wait.gif" style="position:absolute; top:50%;left:50%; margin-right:-50%; transform:translate(-50%,-50%)" ng-show="mapc.isWaiting" />
</panel>