﻿@{
    Layout = null;
}

<!DOCTYPE html>

<div class="container searcher">
  <div class="col-md-11">
    <div class="col-md-2">
      <div class="form-group">
        <label for="srchNo">Code</label>
        <input id="srchNo" type="text" class="form-control" ng-model="vm.params.BookCode" />
      </div>

    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label for="srchNo">Title</label>
        <input id="srchNo" type="text" class="form-control" ng-model="vm.params.Title" />
      </div>

    </div>

    <div class="col-md-2">
      <div class="form-group">
        <label for="srchName">Subject</label>
        <lookup-selector id="subject"
                         lkp="subjects"
                         ng-model="vm.params.Subject">
        </lookup-selector>
      </div>
    </div>

    <div class="col-md-2">
      <div class="form-group">
        <label for="srchlistNames">Book Type</label>
        <lookup-selector id="srchbookTG"
                         lkp="bookTG"
                         ng-model="vm.params.TG">
        </lookup-selector>
      </div>
    </div>

    <div class="col-md-2">
      <div class="form-group">
        <label for="schType">School Type</label>
        <lookup-selector id="schType"
                         lkp="schoolTypes"
                         ng-model="vm.params.SchoolType"
                         ng-disabled="vm.findConfig.isLocked('SchoolType')">
        </lookup-selector>

      </div>
    </div>

    <div class="col-md-2">
      <div class="form-group">
        <label for="srchAuthorities">Publisher</label>
        <lookup-selector id="srchPublisher"
                         lkp="publishers"
                         ng-model="vm.params.PublisherCode">
        </lookup-selector>

      </div>
    </div>

  </div>
  <div class="col-md-1">

    <div class="form-group">
      <button class="btn btn-default findNow" id="findNow" ng-click="vm.FindNow()">
        Find
      </button>
    </div>
    <div class="form-group">
      <button id="Reset" class="btn clearSearch" ng-click="vm.Reset()">
        Clear
      </button>

    </div>
  </div>


</div>

