﻿<h4>Search/Filter Dataset</h4>

@{
  Layout = null;
}

<div layout-gt-xs="row">

  <md-input-container class="md-block" flex-gt-sm>
    <label>Code</label>
    <input ng-model="vm.params.BookCode" type="text" />
  </md-input-container>

  <md-input-container class="md-block" flex-gt-sm>
    <label>Title</label>
    <input ng-model="vm.params.Title" type="text" />
  </md-input-container>

  <md-input-container class="md-block" flex-gt-sm>
    <label>Subject</label>
    <lookup-selector id="subject"
                     lkp="subjects"
                     ng-model="vm.params.Subject">
    </lookup-selector>
  </md-input-container>
</div>

<div layout-gt-xs="row">
  <md-input-container class="md-block" flex-gt-sm>
    <label>Book Type</label>
    <lookup-selector id="srchbookTG"
                     lkp="bookTG"
                     ng-model="vm.params.TG">
    </lookup-selector>
  </md-input-container>

  <md-input-container class="md-block" flex-gt-sm>
    <label>School Type</label>
    <lookup-selector id="schType"
                     lkp="schoolTypes"
                     ng-model="vm.params.SchoolType"
                     ng-disabled="vm.findConfig.isLocked('SchoolType')">
    </lookup-selector>
  </md-input-container>

  <md-input-container class="md-block" flex-gt-sm>
    <label>Publisher</label>
    <lookup-selector id="srchPublisher"
                     lkp="publishers"
                     ng-model="vm.params.PublisherCode">
    </lookup-selector>
  </md-input-container>
</div>

<section layout="row" layout-align="center center">
  <md-button class="md-raised" id="Reset" ng-click="vm.Reset()"><i class="fa fa-close"></i> Clear</md-button>
  <md-button class="md-raised md-primary" id="findNow" ng-click="vm.FindNow()"><i class="fa fa-filter"></i> Filter</md-button>
</section>
