﻿<md-card>
  <div>
    Role list
    <table class="table">
      <tr ng-repeat="r in vm.roles">
        <td ng-click="vm.showRow(r)">{{r.Id}}</td>
        <td ng-click="vm.showRow(r)">{{r.Name}}</td>
        <td>{{u.EmailConfirmed}}</td>
        <td>{{u.MenuKey}}</td>
      </tr>
    </table>
  </div>

    <md-virtual-repeat-container style="height:400px" class="table">
      <div md-virtual-repeat="r in vm.roles" layout="row" style>
        <div flex="50">{{r.Id}}</div>
        <div flex="50">{{r.Name}}</div>
      </div>
    </md-virtual-repeat-container>
</md-card>