﻿<div class="md-table-div">
  <div class="thead">
    <div layout="row" class="tr">
      <div flex="30" class="th">Report title</div>
      <div flex="60" class="th">Report Description</div>
      <div flex="10" class="th">Download</div>
    </div>
  </div>
  <div class="tbody">
    <report-def-row ng-class-odd="'odd'" ng-repeat="r in vm.reports" report="r" context="vm.reportContext" set-params="vm.setParams(report, context, instanceInfo)"></report-def-row>
  </div>
</div>