﻿<div id="datadiv">

  <panel panel-class=""
         heading="{{vm.folder}} Reports"
         panel-icon="pie_chart"
         panel-control-collapse="true">


    <report-list folder="{{vm.folder}}" prompt-for-params="{{vm.promptForParams}}" set-params="vm.setParams(report, context, instanceInfo)"></report-list>
  </panel>
</div>