﻿/* 
  Easiest to customize ui-grid for now is the provided customizer at http://ui-grid.info/customizer/ 
  ui-grid could be customized to adhere to Material Design Principal but would take too much effort
  A clean grid that matches the material theme is preferred for now.
*/
.ui-grid {
  border: 1px solid #dddddd;
  box-sizing: content-box;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -o-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

.ui-grid-vertical-bar {
  position: absolute;
  right: 0;
  width: 0;
}

.ui-grid-header-cell:not(:last-child) .ui-grid-vertical-bar,
.ui-grid-cell:not(:last-child) .ui-grid-vertical-bar {
  width: 1px;
}

.ui-grid-scrollbar-placeholder {
  background-color: transparent;
}

.ui-grid-header-cell:not(:last-child) .ui-grid-vertical-bar {
  background-color: #ffffff;
}

.ui-grid-cell:not(:last-child) .ui-grid-vertical-bar {
  background-color: #dddddd;
}

.ui-grid-header-cell:last-child .ui-grid-vertical-bar {
  right: -1px;
  width: 1px;
  background-color: #ffffff;
}

.ui-grid-clearfix:before,
.ui-grid-clearfix:after {
  content: "";
  display: table;
}

.ui-grid-clearfix:after {
  clear: both;
}

.ui-grid-invisible {
  visibility: hidden;
}

.ui-grid-contents-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}

.ui-grid-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.ui-grid-icon-button {
  background-color: transparent;
  border: none;
  padding: 0;
}

.clickable {
  cursor: pointer;
}

.ui-grid-top-panel-background {
  background-color: #ffffff;
}

.ui-grid-header {
  border-bottom: 1px solid #dddddd;
  box-sizing: border-box;
}

.ui-grid-top-panel {
  position: relative;
  overflow: hidden;
  font-weight: bold;
  background-color: #ffffff;
  -webkit-border-top-right-radius: -1px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: -1px;
  -moz-border-radius-topright: -1px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: -1px;
  border-top-right-radius: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: -1px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

.ui-grid-header-viewport {
  overflow: hidden;
}

.ui-grid-header-canvas:before,
.ui-grid-header-canvas:after {
  content: "";
  display: -ms-flexbox;
  display: flex;
  line-height: 0;
}

.ui-grid-header-canvas:after {
  clear: both;
}

.ui-grid-header-cell-wrapper {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

.ui-grid-header-cell-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.ui-grid-header-cell {
  position: relative;
  box-sizing: border-box;
  background-color: inherit;
  border-right: 1px solid;
  border-color: #ffffff;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 0;
}

  .ui-grid-header-cell:last-child {
    border-right: 0;
  }

  .ui-grid-header-cell .sortable {
    cursor: pointer;
  }

  .ui-grid-header-cell .ui-grid-sort-priority-number {
    margin-left: -8px;
  }
  /* Fixes IE word-wrap if needed on header cells */
  .ui-grid-header-cell > div {
    -ms-flex-basis: 100%;
    flex-basis: 100%;
  }

.ui-grid-header .ui-grid-vertical-bar {
  top: 0;
  bottom: 0;
}

.ui-grid-column-menu-button {
  position: absolute;
  right: 1px;
  top: 0;
}

  .ui-grid-column-menu-button .ui-grid-icon-angle-down {
    vertical-align: sub;
  }

.ui-grid-header-cell-last-col .ui-grid-cell-contents,
.ui-grid-header-cell-last-col .ui-grid-filter-container,
.ui-grid-header-cell-last-col .ui-grid-column-menu-button,
.ui-grid-header-cell-last-col + .ui-grid-column-resizer.right {
  margin-right: 13px;
}

.ui-grid-render-container-right .ui-grid-header-cell-last-col .ui-grid-cell-contents,
.ui-grid-render-container-right .ui-grid-header-cell-last-col .ui-grid-filter-container,
.ui-grid-render-container-right .ui-grid-header-cell-last-col .ui-grid-column-menu-button,
.ui-grid-render-container-right .ui-grid-header-cell-last-col + .ui-grid-column-resizer.right {
  margin-right: 28px;
}

.ui-grid-column-menu {
  position: absolute;
}
  /* Slide up/down animations */
  .ui-grid-column-menu .ui-grid-menu .ui-grid-menu-mid.ng-hide-add,
  .ui-grid-column-menu .ui-grid-menu .ui-grid-menu-mid.ng-hide-remove {
    -webkit-transition: all 0.04s linear;
    -moz-transition: all 0.04s linear;
    -o-transition: all 0.04s linear;
    transition: all 0.04s linear;
    display: block !important;
  }

    .ui-grid-column-menu .ui-grid-menu .ui-grid-menu-mid.ng-hide-add.ng-hide-add-active,
    .ui-grid-column-menu .ui-grid-menu .ui-grid-menu-mid.ng-hide-remove {
      -webkit-transform: translateY(-100%);
      -moz-transform: translateY(-100%);
      -o-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
      transform: translateY(-100%);
    }

      .ui-grid-column-menu .ui-grid-menu .ui-grid-menu-mid.ng-hide-add,
      .ui-grid-column-menu .ui-grid-menu .ui-grid-menu-mid.ng-hide-remove.ng-hide-remove-active {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -o-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
      }
/* Slide up/down animations */
.ui-grid-menu-button .ui-grid-menu .ui-grid-menu-mid.ng-hide-add,
.ui-grid-menu-button .ui-grid-menu .ui-grid-menu-mid.ng-hide-remove {
  -webkit-transition: all 0.04s linear;
  -moz-transition: all 0.04s linear;
  -o-transition: all 0.04s linear;
  transition: all 0.04s linear;
  display: block !important;
}

  .ui-grid-menu-button .ui-grid-menu .ui-grid-menu-mid.ng-hide-add.ng-hide-add-active,
  .ui-grid-menu-button .ui-grid-menu .ui-grid-menu-mid.ng-hide-remove {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
  }

    .ui-grid-menu-button .ui-grid-menu .ui-grid-menu-mid.ng-hide-add,
    .ui-grid-menu-button .ui-grid-menu .ui-grid-menu-mid.ng-hide-remove.ng-hide-remove-active {
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -o-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
    }

.ui-grid-filter-container {
  padding: 4px 10px;
  position: relative;
}

  .ui-grid-filter-container .ui-grid-filter-button {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
  }

    .ui-grid-filter-container .ui-grid-filter-button [class^="ui-grid-icon"] {
      position: absolute;
      top: 50%;
      line-height: 32px;
      margin-top: -16px;
      right: 10px;
      opacity: 0.66;
    }

      .ui-grid-filter-container .ui-grid-filter-button [class^="ui-grid-icon"]:hover {
        opacity: 1;
      }

  .ui-grid-filter-container .ui-grid-filter-button-select {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
  }

    .ui-grid-filter-container .ui-grid-filter-button-select [class^="ui-grid-icon"] {
      position: absolute;
      top: 50%;
      line-height: 32px;
      margin-top: -16px;
      right: 0px;
      opacity: 0.66;
    }

      .ui-grid-filter-container .ui-grid-filter-button-select [class^="ui-grid-icon"]:hover {
        opacity: 1;
      }

input[type="text"].ui-grid-filter-input {
  box-sizing: border-box;
  padding: 0 18px 0 0;
  margin: 0;
  width: 100%;
  border: 1px solid #dddddd;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

  input[type="text"].ui-grid-filter-input:hover {
    border: 1px solid #dddddd;
  }

select.ui-grid-filter-select {
  padding: 0;
  margin: 0;
  border: 0;
  width: 90%;
  border: 1px solid #dddddd;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

  select.ui-grid-filter-select:hover {
    border: 1px solid #dddddd;
  }

.ui-grid-filter-cancel-button-hidden select.ui-grid-filter-select {
  width: 100%;
}

.ui-grid-render-container {
  position: inherit;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-bottomleft: 0px;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

  .ui-grid-render-container:focus {
    outline: none;
  }

.ui-grid-viewport {
  min-height: 20px;
  position: relative;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

  .ui-grid-viewport:focus {
    outline: none !important;
  }

.ui-grid-canvas {
  position: relative;
  padding-top: 1px;
}

.ui-grid-row {
  clear: both;
}

  .ui-grid-row:nth-child(odd) .ui-grid-cell {
    background-color: #ffffff;
  }

  .ui-grid-row:nth-child(even) .ui-grid-cell {
    background-color: #f9f9f9;
  }

  .ui-grid-row:last-child .ui-grid-cell {
    border-bottom-color: #dddddd;
    border-bottom-style: solid;
  }

  .ui-grid-row:hover > [ui-grid-row] > .ui-grid-cell:hover .ui-grid-cell,
  .ui-grid-row:nth-child(odd):hover .ui-grid-cell,
  .ui-grid-row:nth-child(even):hover .ui-grid-cell {
    background-color: #e3edf7;
  }

.ui-grid-no-row-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 10%;
  background-color: #ffffff;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #dddddd;
  font-size: 2em;
  text-align: center;
}

  .ui-grid-no-row-overlay > * {
    position: absolute;
    display: table;
    margin: auto 0;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.66;
  }

.ui-grid-cell {
  overflow: hidden;
  float: left;
  background-color: inherit;
  border-right: 1px solid;
  border-color: #dddddd;
  box-sizing: border-box;
}

  .ui-grid-cell:last-child {
    border-right: 0;
  }

.ui-grid-cell-contents {
  padding: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  white-space: nowrap;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 100%;
}

.ui-grid-cell-contents-hidden {
  visibility: hidden;
  width: 0;
  height: 0;
  display: none;
}

.ui-grid-row .ui-grid-cell.ui-grid-row-header-cell {
  background-color: #f0f0ee;
  border-bottom: solid 1px #dddddd;
}

.ui-grid-cell-empty {
  display: inline-block;
  width: 10px;
  height: 10px;
}

.ui-grid-footer-info {
  padding: 5px 10px;
}

.ui-grid-footer-panel-background {
  background-color: #ffffff;
}

.ui-grid-footer-panel {
  position: relative;
  border-bottom: 1px solid #dddddd;
  border-top: 1px solid #dddddd;
  overflow: hidden;
  font-weight: bold;
  background-color: #ffffff;
  -webkit-border-top-right-radius: -1px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: -1px;
  -moz-border-radius-topright: -1px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: -1px;
  border-top-right-radius: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: -1px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

.ui-grid-grid-footer {
  float: left;
  width: 100%;
}

.ui-grid-footer-viewport,
.ui-grid-footer-canvas {
  display: flex;
  flex: 1 1 auto;
  height: 100%;
}

.ui-grid-footer-viewport {
  overflow: hidden;
}

.ui-grid-footer-canvas {
  position: relative;
}

  .ui-grid-footer-canvas:before,
  .ui-grid-footer-canvas:after {
    content: "";
    display: table;
    line-height: 0;
  }

  .ui-grid-footer-canvas:after {
    clear: both;
  }

.ui-grid-footer-cell-wrapper {
  position: relative;
  display: table;
  box-sizing: border-box;
  height: 100%;
}

.ui-grid-footer-cell-row {
  display: table-row;
}

.ui-grid-footer-cell {
  overflow: hidden;
  background-color: inherit;
  border-right: 1px solid;
  border-color: #dddddd;
  box-sizing: border-box;
  display: table-cell;
}

  .ui-grid-footer-cell:last-child {
    border-right: 0;
  }

.ui-grid-menu-button {
  z-index: 2;
  position: absolute;
  right: 0;
  top: 0;
  background: #ffffff;
  border: 0;
  border-left: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  cursor: pointer;
  height: 32px;
  font-weight: normal;
}

  .ui-grid-menu-button .ui-grid-icon-container {
    margin-top: 5px;
    margin-left: 2px;
  }

  .ui-grid-menu-button .ui-grid-menu {
    right: 0;
  }

    .ui-grid-menu-button .ui-grid-menu .ui-grid-menu-mid {
      overflow: scroll;
    }

.ui-grid-menu {
  overflow: hidden;
  max-width: 320px;
  z-index: 2;
  position: absolute;
  right: 100%;
  padding: 0 10px 20px 10px;
  cursor: pointer;
  box-sizing: border-box;
}

.ui-grid-menu-item {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ui-grid-menu .ui-grid-menu-inner {
  background: #ffffff;
  border: 1px solid #dddddd;
  position: relative;
  white-space: nowrap;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

  .ui-grid-menu .ui-grid-menu-inner ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

    .ui-grid-menu .ui-grid-menu-inner ul li {
      padding: 0;
    }

      .ui-grid-menu .ui-grid-menu-inner ul li .ui-grid-menu-item {
        color: #000000;
        min-width: 100%;
        padding: 8px;
        text-align: left;
        background: transparent;
        border: none;
        cursor: default;
      }

      .ui-grid-menu .ui-grid-menu-inner ul li button.ui-grid-menu-item {
        cursor: pointer;
      }

        .ui-grid-menu .ui-grid-menu-inner ul li button.ui-grid-menu-item:hover,
        .ui-grid-menu .ui-grid-menu-inner ul li button.ui-grid-menu-item:focus {
          background-color: #b3c4c7;
        }

        .ui-grid-menu .ui-grid-menu-inner ul li button.ui-grid-menu-item.ui-grid-menu-item-active {
          background-color: #9cb2b6;
        }

      .ui-grid-menu .ui-grid-menu-inner ul li:not(:last-child) > .ui-grid-menu-item {
        border-bottom: 1px solid #dddddd;
      }

.ui-grid-sortarrow {
  right: 5px;
  position: absolute;
  width: 20px;
  top: 0;
  bottom: 0;
  background-position: center;
}

  .ui-grid-sortarrow.down {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }

@font-face {
  font-family: 'ui-grid';
  src: url('fonts/ui-grid.eot');
  src: url('fonts/ui-grid.eot#iefix') format('embedded-opentype'), url('fonts/ui-grid.woff') format('woff'), url('fonts/ui-grid.ttf') format('truetype'), url('fonts/ui-grid.svg?#ui-grid') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'ui-grid';
    src: url('@{font-path}ui-grid.svg?12312827#ui-grid') format('svg');
  }
}
*/
[class^="ui-grid-icon"]:before,
[class*=" ui-grid-icon"]:before {
  font-family: "ui-grid";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.ui-grid-icon-blank::before {
  width: 1em;
  content: ' ';
}

.ui-grid-icon-plus-squared:before {
  content: '\c350';
}

.ui-grid-icon-minus-squared:before {
  content: '\c351';
}

.ui-grid-icon-search:before {
  content: '\c352';
}

.ui-grid-icon-cancel:before {
  content: '\c353';
}

.ui-grid-icon-info-circled:before {
  content: '\c354';
}

.ui-grid-icon-lock:before {
  content: '\c355';
}

.ui-grid-icon-lock-open:before {
  content: '\c356';
}

.ui-grid-icon-pencil:before {
  content: '\c357';
}

.ui-grid-icon-down-dir:before {
  content: '\c358';
}

.ui-grid-icon-up-dir:before {
  content: '\c359';
}

.ui-grid-icon-left-dir:before {
  content: '\c35a';
}

.ui-grid-icon-right-dir:before {
  content: '\c35b';
}

.ui-grid-icon-left-open:before {
  content: '\c35c';
}

.ui-grid-icon-right-open:before {
  content: '\c35d';
}

.ui-grid-icon-angle-down:before {
  content: '\c35e';
}

.ui-grid-icon-filter:before {
  content: '\c35f';
}

.ui-grid-icon-sort-alt-up:before {
  content: '\c360';
}

.ui-grid-icon-sort-alt-down:before {
  content: '\c361';
}

.ui-grid-icon-ok:before {
  content: '\c362';
}

.ui-grid-icon-menu:before {
  content: '\c363';
}

.ui-grid-icon-indent-left:before {
  content: '\e800';
}

.ui-grid-icon-indent-right:before {
  content: '\e801';
}

.ui-grid-icon-spin5:before {
  content: '\ea61';
}
/*
* RTL Styles
*/
.ui-grid[dir=rtl] .ui-grid-header-cell,
.ui-grid[dir=rtl] .ui-grid-footer-cell,
.ui-grid[dir=rtl] .ui-grid-cell {
  float: right !important;
}

.ui-grid[dir=rtl] .ui-grid-column-menu-button {
  position: absolute;
  left: 1px;
  top: 0;
  right: inherit;
}

.ui-grid[dir=rtl] .ui-grid-cell:first-child,
.ui-grid[dir=rtl] .ui-grid-header-cell:first-child,
.ui-grid[dir=rtl] .ui-grid-footer-cell:first-child {
  border-right: 0;
}

.ui-grid[dir=rtl] .ui-grid-cell:last-child,
.ui-grid[dir=rtl] .ui-grid-header-cell:last-child {
  border-right: 1px solid #dddddd;
  border-left: 0;
}

.ui-grid[dir=rtl] .ui-grid-header-cell:first-child .ui-grid-vertical-bar,
.ui-grid[dir=rtl] .ui-grid-footer-cell:first-child .ui-grid-vertical-bar,
.ui-grid[dir=rtl] .ui-grid-cell:first-child .ui-grid-vertical-bar {
  width: 0;
}

.ui-grid[dir=rtl] .ui-grid-menu-button {
  z-index: 2;
  position: absolute;
  left: 0;
  right: auto;
  background: #ffffff;
  border: 1px solid #dddddd;
  cursor: pointer;
  min-height: 27px;
  font-weight: normal;
}

  .ui-grid[dir=rtl] .ui-grid-menu-button .ui-grid-menu {
    left: 0;
    right: auto;
  }

.ui-grid[dir=rtl] .ui-grid-filter-container .ui-grid-filter-button {
  right: initial;
  left: 0;
}

  .ui-grid[dir=rtl] .ui-grid-filter-container .ui-grid-filter-button [class^="ui-grid-icon"] {
    right: initial;
    left: 10px;
  }
/*
   Animation example, for spinners
*/
.ui-grid-animate-spin {
  -moz-animation: ui-grid-spin 2s infinite linear;
  -o-animation: ui-grid-spin 2s infinite linear;
  -webkit-animation: ui-grid-spin 2s infinite linear;
  animation: ui-grid-spin 2s infinite linear;
  display: inline-block;
}

@-moz-keyframes ui-grid-spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@-webkit-keyframes ui-grid-spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@-o-keyframes ui-grid-spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

/*@-ms-keyframes ui-grid-spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}*/

@keyframes ui-grid-spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.ui-grid {
  color: #333;
}

.ui-grid-header {
  border-bottom-width: 2px;
}

.ui-grid-menu .ui-grid-menu-inner ul li:not(:last-child) > button {
  border: none;
}

.ui-grid-menu .ui-grid-menu-inner ul li button.ui-grid-menu-item-active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.ui-grid-menu .ui-grid-menu-inner ul li button:hover,
.ui-grid-menu .ui-grid-menu-inner ul li button:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-color: #ddd;
}
