﻿<panel panel-class=""
       panel-icon="list"
       heading="Exams Data Upload"
       panel-control-collapse="true">

  <div layout="row" layout-margin>
    <div flex-gt-sm="33">
      <div ng-show="vm.uploader.isHTML5">
        <!-- Example: nv-file-drop="" uploader="{Object}" options="{Object}" filters="{String}" -->
        <div nv-file-drop="" uploader="vm.uploader">
          <div nv-file-over="" uploader="vm.uploader" over-class="another-file-over-class" class="well my-drop-zone">
            Drop Exam summary file here...
          </div>
        </div>
      </div>

      <!-- Example: nv-file-select="" uploader="{Object}" options="{Object}" filters="{String}" -->
      <label for="inputFile"> ... or click to select file...</label>
      <input type="file" name="inputFile" id="inputFile" nv-file-select="" uploader="vm.uploader" ng-show="false" /><br />
    </div>

    <div flex-gt-sm="66">
      <table class="md-table">
        <thead>
          <tr>
            <th width="50%">Name</th>
            <th ng-show="vm.uploader.isHTML5">Size</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in vm.uploader.queue">
            <td>
              <strong>{{ item.file.name }}</strong>
            </td>
            <td ng-show="vm.uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
            <td class="text-center">
              <span ng-show="item.isSuccess"><i class="fa fa-check"></i></span>
              <span ng-show="item.isCancel"><i class="fa fa-ban"></i></span>
              <span ng-show="item.isError"><i class="fa fa-exclamation"></i></span>
            </td>
          </tr>
        </tbody>
      </table>

      <div>
        <md-progress-linear md-mode="indeterminate" ng-show="vm.uploader.isUploading"></md-progress-linear>
        <md-button class="md-raised md-primary" ng-click="vm.uploader.uploadAll()" ng-disabled="(vm.uploader.getNotUploadedItems().length === 0)">
          <md-icon class="material-icons md-24">cloud_upload</md-icon>
          Upload
        </md-button>
        <md-button class="md-raised md-warn" ng-click="vm.uploader.cancelAll()" ng-disabled="!vm.uploader.isUploading">
          <md-icon class="material-icons md-24">cancel</md-icon>
          Cancel
        </md-button>
        <md-button class="md-raised" ng-click="vm.uploader.clearQueue()" ng-disabled="!vm.uploader.queue.length">
          <md-icon class="material-icons md-24">clear</md-icon>
          Clear
        </md-button>
      </div>
    </div>
  </div>

  <div layout="column" layout-margin>
    <div flex>
      <div ng-show="vm.uploadResponseData">
        <div>Exam Name: {{vm.uploadResponseData.examName}}</div>
        <div>Year: {{vm.uploadResponseData.examYear}}</div>

        <div>No of students:{{vm.uploadResponseData.students}}</div>
        <div>No of results:{{vm.uploadResponseData.results}}</div>
        <div>File Id:{{vm.uploadResponseData.id}}</div>
      </div>
      <div ng-show="vm.progressData">
        <div>Schools: {{vm.progressData.schools}}</div>
        <div>Students: {{vm.progressData.students}}</div>
        <div>Staff: {{vm.progressData.staff}}</div>
        <div>Wash: {{vm.progressData.wash}}</div>
      </div>
      <div ng-show="vm.processResponseData.hasValidations">
        <div>Validation issues were found in the examination data. Correct these problems, then upload the Exam summary again.</div>
        <table class="md-table striped">
          <thead>
            <tr>
              <th>Row Index</th>
              <th>Value</th>
              <th>Issue</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="v in vm.processResponseData.validations">
              <td>{{v.rowID}}</td>
              <td>{{v.errorValue}}</td>
              <td>{{v.errorMessage}}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <pupil-table-grid pupil-table="vm.summary"></pupil-table-grid>

      <div ng-show="vm.summary">
        <table class="md-table striped">
          <thead>
            <tr>
              <th>School No</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="p in vm.summary">
              <td>{{p.key}}</td>
              <td ng-repeat="g in p.values">{{g.key}}</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>

</panel>
