﻿@* Dashboard Child - master template used by dashboard children 
  
  This template defines a standard structure to express the functionality of a dashboard component.
  It comprises these sections:

  title 
    - the title of the dashboard child item

  filters
    - display of any filters that are currently applied to the item
      
  (the body of the component)

  this template provides means to run the associated report, if any 
  
*@

<div class="dashboard-child" 
     ng-class="{ 'selected': vm.isSelected(),
                 'unselected': vm.isUnselected(),
                 'md-whiteframe-24dp': vm.isSelected()
                }">
@* header area *@
  <div layout="row" >
    <md-button class="md-icon-button" ng-click="vm.toggleSelected()">
      <i class="fa "
         ng-class="{'fa-expand': !vm.isSelected(), 'fa-compress': vm.isSelected()}">
      </i>
    </md-button>
    <div flex layout-padding layout="row" layout-align="start end">
      <span style="font-size:16px">@RenderSection("title", false)</span>
      <span class="filters">@RenderSection("filters", false)</span>
    </div>
    <div>
      <span ng-if="vm.hasReport()">
        <md-button class="md-icon-button" ng-click="vm.runReport()">
          <img src="assets/img/file-pdf-icon-24.png" />
        </md-button>
      </span>
    </div>
  </div>
  <div>
    @RenderBody()
  </div>
</div> 
