﻿@*
  Page Edit Layout for single page edit of an entity
*@
<div>
  <panel panel-class="panel-primary"
         heading="@RenderSection("title", false)"
         panel-icon="@RenderSection("icon", false)"
         panel-collapse="true">
    <panel-controls>
      @if (ViewBag.EditPermission != null)
      {
        <span permission permission-only="'@ViewBag.EditPermission'">
          <md-button class="md-icon-button" ng-show="!vm.isEditing" ng-click="vm.setEditing(true)">
            <md-icon class="material-icons md-24">edit</md-icon>
            <md-tooltip md-direction="bottom">Edit</md-tooltip>
          </md-button>

          <md-button class="md-icon-button" ng-show="vm.isEditing" ng-disabled="vm.isWaiting || vm.modelForm.$invalid" ng-click="vm.save()">
            <md-icon class="material-icons md-24" ng-show="!vm.isWaiting">save</md-icon>
            <md-tooltip md-direction="bottom">Save</md-tooltip>
          </md-button>

          <md-button class="md-icon-button" ng-show="vm.isEditing" ng-disabled="vm.isWaiting" ng-click="vm.undo()">
            <md-icon class="material-icons md-24">undo</md-icon>
            <md-tooltip md-direction="bottom">Undo changes</md-tooltip>
          </md-button>
        </span>
      }
      <md-progress-linear ng-disabled="!vm.isWaiting" md-mode="indeterminate"></md-progress-linear>
    </panel-controls>
    @RenderBody()
  </panel>
</div>