﻿@section icon {
  school
}

@section title {
  {{vm.tableName | lookup:'tableDefs':'N'}}
}

<form name="vm.gridForm">
  <pupil-table-grid pupil-table="vm.pupilTable" ng-disabled="!vm.isEditing"/>
</form>