﻿<table class="gendergrid resources" ng-show="vm.resourceList != undefined">

  <colgroup>
    <col width="200" />
    <col width="80" />  <!--available-->
    <col width="80" />  <!--num-->
    <col width="80" />  <!--condition-->
  </colgroup>

  <thead>
    <tr>
      <th class="colhdr" >Resource</th>
      <th class="colhdr"
          ng-if="vm.category.showAvailable"
          ng-class="{current: (vm.selectedCol === vm.columns.Available)}">Available</th>
      <th class="colhdr"
          ng-if="vm.category.showAdequate"
          ng-class="{current: (vm.selectedCol === vm.columns.Adequate)}">Adequate</th>
      <th class="colhdr"
          ng-if="vm.category.showNum"
          ng-class="{current: (vm.selectedCol === vm.columns.Num)}">Number</th>
      <th class="colhdr"
          ng-if="vm.category.showQty"
          ng-class="{current: (vm.selectedCol === vm.columns.Qty)}">Qty</th>
      <th class="colhdr"
          ng-if="vm.category.showCondition"
          ng-class="{current: (vm.selectedCol === vm.columns.Condition)}">Condition</th>
      <th class="colhdr"
          ng-if="vm.category.showFunctioning"
          ng-class="{current: (vm.selectedCol === vm.columns.Functioning)}">Functioning</th>
    </tr>
  </thead>

  <tbody>
    <tr ng-repeat="r in vm.resourceList.rows">

      <td class="rowhdr"
          ng-class="{current: (vm.selectedRow === $index)}">
        {{r.name}}
      </td>

      <td class="colm" ng-if="vm.category.showAvailable">
        <input class="text-center" type="checkbox" onfocus="this.select();"
               ng-disabled="r.promptAvailable === false || vm.ngDisabled"
               ng-model="vm.resourceList.data[$index].available"
               ng-focus="vm.gridFocus($index,vm.columns.Available)"
               ng-blur="vm.gridBlur()"
               ng-keydown="vm.gridkeydown($event,$index,vm.columns.Available)"
               sync-focus-with="vm.focusRequested($index,vm.columns.Available)" />
      </td>

      <td ng-if="vm.category.showAdequate">
        <input type="number" onfocus="this.select();"
               ng-disabled="r.promptAdequate === false || vm.ngDisabled"
               ng-model="vm.resourceList.data[$index].adequate"
               ng-focus="ctrlr.gridFocus($index,vm.columns.Adequate)"
               ng-blur="ctrlr.gridBlur()"
               ng-keydown="ctrlr.gridkeydown($event,$index,vm.columns.Adequate)"
               sync-focus-with="vm.focusRequested($index,vm.columns.Adequate)" />
      </td>

      <td ng-if="vm.category.showNum">
        <input type="number" onfocus="this.select();"
               ng-disabled="!vm.isEnabled($index,vm.columns.Num) || vm.ngDisabled"
               ng-model="vm.resourceList.data[$index].num"
               ng-focus="vm.gridFocus($index,vm.columns.Num)"
               ng-blur="vm.gridBlur()"
               ng-keydown="vm.gridkeydown($event,$index,vm.columns.Num)"
               sync-focus-with="vm.focusRequested($index,vm.columns.Num)" />
      </td>

      <td ng-if="vm.category.showQty">
        <input type="number" onfocus="this.select();"
               ng-disabled="r.promptQty === false || vm.ngDisabled"
               ng-model="vm.resourceList.data[$index].qty"
               ng-focus="ctrlr.gridFocus($index,vm.columns.Qty)"
               ng-blur="vm.gridBlur()"
               ng-keydown="vm.gridkeydown($event,$index,vm.columns.Qty)"
               sync-focus-with="vm.focusRequested($index,vm.columns.Qty)" />
      </td>

      <td ng-if="vm.category.showCondition">
          <select onfocus="this.select();"
                  ng-disabled="r.promptCondition === false || !vm.isEnabled($index,vm.columns.Num) || vm.ngDisabled"
                  ng-model="vm.resourceList.data[$index].condition"
                  ng-focus="vm.gridFocus($index,vm.columns.Condition)"
                  ng-blur="vm.gridBlur()"
                  ng-keydown="vm.gridkeydown($event,$index,vm.columns.Condition)"
                  sync-focus-with="vm.focusRequested($index,vm.columns.Condition)"
                  to-number>
              <option value="1">Good</option>
              <option value="2">Fair</option>
              <option value="3">Poor</option>
          </select>
      </td>

      <td ng-if="vm.category.showFunctioning">
        <input type="number" onfocus="this.select();"
               ng-disabled="!r.promptFunctioning || vm.ngDisabled"
               ng-model="vm.resourceList.data[$index].functioning"
               ng-focus="vm.gridFocus($index,vm.columns.Functioning)"
               ng-blur="vm.gridBlur()"
               ng-keydown="vm.gridkeydown($event,$index,vm.columns.Functioning)"
               sync-focus-with="vm.focusRequested($index,vm.columns.Functioning)" />
      </td>
    </tr>
  </tbody>

  <tfoot>
    <tr>
      <td></td>
      <td class="colm totg" ng-repeat-start="c in pupilTable.cols track by $index">
        {{ctrlr.colSum(pupilTable.data,$index,'M') | z0}}
      </td>
      <td class="totg" ng-repeat-end>
        {{ctrlr.colSum(pupilTable.data,$index,'F') | z0}}
      </td>
      <!-- all gender totals-->
      <td class="totg">{{ctrlr.gridSum(pupilTable.data,'M') | z0}}</td>
      <td class="totg">{{ctrlr.gridSum(pupilTable.data,'F') | z0}}</td>
      <td></td>
    </tr>

    <tr>
      <td></td>
      <td class="tot" colspan="2" ng-repeat="c in pupilTable.cols track by $index">
        {{ctrlr.colSum(pupilTable.data,$index) | z0}}
      </td>
      <td></td>
      <td></td>
      <td class="tot">{{ctrlr.gridSum(pupilTable.data) | z0}}</td>
    </tr>
  </tfoot>

</table>