﻿<panel panel-class=""
       heading="School Accreditation Dashboard"
       panel-icon="pie_chart"
       anel-control-collapse="true">

  <h3>National School Accreditation Progress</h3>
  <img class="img-responsive" src="assets/img/temp-school-accreditations-progress-table.png" />
  <img class="img-responsive" src="assets/img/temp-school-accreditations-progress-chart.png" />

  <h3>National Standard Performance Percentages</h3>
  <img class="img-responsive" src="assets/img/temp-school-accreditations-standard-performance-table.png" />
  <img class="img-responsive" src="assets/img/temp-school-accreditations-standard-performance-chart.png" />

</panel>
