﻿<div layout="column">
  <quarterly-report-chart quarterlyreports="vm.quarterlyreports" title="Historical Aggregate Attendance Metrics" meta="[{metric: 'AggDaysAtt', name: 'Agg. Days of Attendance'}, {metric: 'AggDaysAbs', name: 'Agg. Days of Absence'}, {metric: 'AggDaysMem', name: 'Agg. Days of Membership'}]"></quarterly-report-chart>
  <quarterly-report-chart quarterlyreports="vm.quarterlyreports" title="Historical Average Attendance Metrics" meta="[{metric: 'AvgDailyAtt', name: 'Avg. Daily Attendance'}, {metric: 'AvgDailyMem', name: 'Avg. Daily Membership'}]"></quarterly-report-chart>
  <md-content>
    <table class="md-table striped">
      <thead>
        <tr>
          <th>Period</th>
          <th>Submitted By</th>
          <th># Days Open</th>
          <th>Agg. Days of Attendance (M)</th>
          <th>Agg. Days of Attendance (F)</th>
          <th>Agg. Days of Attendance</th>
          <th>Agg. Days of Absence (M)</th>
          <th>Agg. Days of Absence (F)</th>
          <th>Agg. Days of Absence</th>
          <th>Agg. Days of Membership (M)</th>
          <th>Agg. Days of Membership (F)</th>
          <th>Agg. Days of Membership</th>
          <th>Avg. Daily Attendance (M)</th>
          <th>Avg. Daily Attendance (F)</th>
          <th>Avg. Daily Attendance</th>
          <th>Avg. Daily Membership (M)</th>
          <th>Avg. Daily Membership (F)</th>
          <th>Avg. Daily Membership</th>
          <th>Total Enrollment to Date (M)</th>
          <th>Total Enrollment to Date (F)</th>
          <th>Total Enrollment to Date</th>
          <th>Dropout (M)</th>
          <th>Dropout (F)</th>
          <th>Dropout</th>
          <th>Transfers In (M)</th>
          <th>Transfers In (F)</th>
          <th>Transfers In</th>
          <th>Transfers Out (M)</th>
          <th>Transfers Out (F)</th>
          <th>Transfers Out</th>
          <th>Grads 8th (M)</th>
          <th>Grads 8th (F)</th>
          <th>Grads 8th</th>
          <th>Grads 12th (M)</th>
          <th>Grads 12th (F)</th>
          <th>Grads 12th</th>
        </tr>
      </thead>
      <tbody>
        <tr data-ng-repeat="qr in vm.quarterlyreports | orderBy: 'InspQuarterlyReport' : true">
          <td>{{qr.InspQuarterlyReport}}</td>
          <td>{{qr.InspectedBy}}</td>
          <td>{{qr.NumDaysOpen | number}}</td>
          <td>{{qr.AggDaysAttM | number}}</td>
          <td>{{qr.AggDaysAttF | number}}</td>
          <td>{{qr.AggDaysAtt | number}}</td>
          <td>{{qr.AggDaysAbsM | number}}</td>
          <td>{{qr.AggDaysAbsF | number}}</td>
          <td>{{qr.AggDaysAbs | number}}</td>
          <td>{{qr.AggDaysMemM | number}}</td>
          <td>{{qr.AggDaysMemF | number}}</td>
          <td>{{qr.AggDaysMem | number}}</td>
          <td>{{qr.AvgDailyAttM | number}}</td>
          <td>{{qr.AvgDailyAttF | number}}</td>
          <td>{{qr.AvgDailyAtt | number}}</td>
          <td>{{qr.AvgDailyMemM | number}}</td>
          <td>{{qr.AvgDailyMemF | number}}</td>
          <td>{{qr.AvgDailyMem | number}}</td>
          <td>{{qr.TotEnrolToDateM | number}}</td>
          <td>{{qr.TotEnrolToDateF | number}}</td>
          <td>{{qr.TotEnrolToDate | number}}</td>
          <td>{{qr.DropoutM | number}}</td>
          <td>{{qr.DropoutF | number}}</td>
          <td>{{qr.Dropout | number}}</td>
          <td>{{qr.TrinM | number}}</td>
          <td>{{qr.TrinF | number}}</td>
          <td>{{qr.Trin | number}}</td>
          <td>{{qr.TroutM | number}}</td>
          <td>{{qr.TroutF | number}}</td>
          <td>{{qr.Trout | number}}</td>
          <td>{{qr.Grad8M | number}}</td>
          <td>{{qr.Grad8F | number}}</td>
          <td>{{qr.Grad8 | number}}</td>
          <td>{{qr.Grad12M | number}}</td>
          <td>{{qr.Grad12F | number}}</td>
          <td>{{qr.Grad | number}}</td>
        </tr>
      </tbody>
    </table>
  </md-content>
</div>