﻿@section title {
  Age by Level
}

@section filters {
  {{vm.dashboard.options.selectedAuthorityGovt|lookup:'authorityGovt'}} {{vm.dashboard.options.selectedYear}} {{vm.dashboard.options.selectedDistrict|lookup:"districts"}}
}

@* detail table on calss level for Selected View *@

<div ng-if="vm.isSelected()">
  <div style="margin:4px">
    <h3 class="md-title"></h3>
    <table class="table" style="table-layout:fixed">
      <thead>
        <tr>
          <th>Age</th>
          <th class="rotate90" style="width:6%" ng-repeat="d in vm.lookups.cache['levels']">
            <div>
              <span>
                {{d.N}}
              </span>
            </div>
          </th>
          <th class="rotate90">
            <div>
              <span>
                Total
              </span>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class="animated" ng-repeat="r in vm.tabAge_Level.all()">
          <td>{{r.key}}</td>
          <td ng-repeat="d in vm.lookups.cache['levels']">{{r.value[d.C]}}</td>
          <td class="total">{{r.value["Tot"]}}</td>
        </tr>
        @* the total row: there is only one , but ng-repeat provides a simple variable  *@
        <tr class="animated total" ng-repeat="r in vm.tot_Level.all()">
          <td>Total</td>
          <td ng-repeat="d in vm.lookups.cache['levels']">{{r.value[d.C]}}</td>
          <td class="total">{{r.value["Tot"]}}</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>

<div ng-if="!vm.isSelected()">

  <div style="margin:4px">
    <h3 class="md-title"></h3>
    <table class="table" style="table-layout:fixed">
      <thead>
        <tr>
          <th>Age</th>
          <th class="rotate90" style="width:16%"  ng-repeat="d in vm.lookups.cache['educationLevels']">
            <div >
              <span>
                {{d.N}}
              </span>
            </div>
          </th>
          <th class="rotate90" style="width:20%" >
            <div>
              <span>Total</span>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class="animated" ng-repeat="r in vm.tabAge_EdLevel.all()">
          <td>{{vm.dashboard.ageGroupLabel(r.key, 5)}}</td>
          <td ng-repeat="d in vm.lookups.cache['educationLevels']">{{r.value[d.C]}}</td>
          <td class="total">{{r.value["Tot"]}}</td>
        </tr>
        @* the total row: there is only one , but ng-repeat provides a simple variable  *@
        <tr class="animated total" ng-repeat="r in vm.tot_EdLevel.all()">
          <td>Total</td>
          <td ng-repeat="d in vm.lookups.cache['educationLevels']">{{r.value[d.C]}}</td>
          <td class="total">{{r.value["Tot"]}}</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
