﻿@* Exams dashboard *@
@section options {
  @* <core-options-editor options="vm.options"></core-options-editor>*@
  <h1>Exams Dashboard</h1>
}

@section children {

  <plottable-horizontal-bar-chart ng-repeat="exam in vm.exams(vm.options.selectedExamYear)"
                                  heading-title="Nation Exam Results by Benchmarks"
                                  dimensions="height8 width8"
                                  toggle-selected="::vm.boundToggleSelected"
                                  selected-child="vm.selectedChild"
                                  heading-options="vm.standardsForExam(exam, vm.options.selectedExamYear)"
                                  heading-filters=" "
                                  chart-title="{{exam}}"
                                  datasets="vm.dataExamResultsByBenchmarkForYear(vm.options.selectedExamYear, exam)"
                                  datasets-x="percent"
                                  datasets-y="ExamBenchmark" />

  <plottable-horizontal-bar-chart ng-repeat="exam in vm.exams(vm.options.selectedExamYear)"
                                  heading-title="Nation Exam Results by Standard - 3 years"
                                  dimensions="height8 width8"
                                  toggle-selected="::vm.boundToggleSelected"
                                  selected-child="vm.selectedChild"
                                  @*heading-options="vm.standardsForExam(exam, vm.options.selectedExamYear)"*@
                                  heading-filters=" "
                                  chart-title="{{exam}}"
                                  datasets="vm.dataExamResultsByStandardThreeYears(vm.options.selectedExamYear, exam)"
                                  datasets-x="percent"
                                  datasets-y="StandardYear" />

  <plottable-horizontal-bar-chart ng-repeat="exam in vm.exams(vm.options.selectedExamYear)"
                                  heading-title="Nation Exam Results by Standard - States"
                                  dimensions="height8 width8"
                                  toggle-selected="::vm.boundToggleSelected"
                                  selected-child="vm.selectedChild"
                                  @*heading-options="vm.standardsForExam(exam, vm.options.selectedExamYear)"*@
                                  heading-filters=" "
                                  chart-title="{{exam}}"
                                  datasets="vm.dataExamResultsByStandardDistrict(vm.options.selectedExamYear, exam)"
                                  datasets-x="percent"
                                  datasets-y="ExamStandardState" />
}
