﻿<!-- expects controller as vm -->
<panel panel-class="panel-primary"
       heading="School Location"
       panel-collapse="true">

    <div>
        <div class="row">
            <div class="col-md-12">
                <h2 ng-hide="vm.school.schNo">{{"School No" | vocab }} {{vm.school.schNo}}</h2>
                <p class="alert alert-warning" ng-hide="vm.school.schNo"><strong>Warning</strong>There is no school selected. Select a school by clicking on the coordinate link</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p ng-show="vm.state == 'Add'">Click on the map to add the marker.</p>
                <p ng-show="vm.state == 'Ready'">
                    To reposition: click on the map, or drag the marker.
                    <button ng-click="vm.saveLatLong()">Save Position</button>
                </p>
            </div>
            <div class="col-md-3">
                <p>Last saved position: [{{vm.school.schLat |number: 4}} , {{vm.school.schLong | number:4}}] </p>
            </div>
            <div class="col-md-3">
                <p>Current marker position: [{{vm.lat | number:4}} , {{vm.lng | number:4}}]</p>
            </div>
        </div>
        <map center="[0,0]" zoom="6"></map>
    </div>

</panel>