﻿<h4>Search/Filter Dataset</h4>

@{
  Layout = null;
}

<div layout-gt-xs="row">
  <md-input-container class="md-block" flex-gt-sm>
    <label>{{"School No" | vocab }}</label>
    <input type="text" ng-model="vm.params.SchoolNo" />
  </md-input-container>

  <md-input-container class="md-block" flex-gt-sm>
    <label>Name</label>
    <input type="text" ng-model="vm.params.SchoolName" />
  </md-input-container>

  <md-input-container class="md-block" flex-gt-sm>
    <label>Custom Lists</label>
    <lookup-selector id="srchlistNames"
                     lkp="listNames"
                     ng-model="vm.params.ListName">
    </lookup-selector>
  </md-input-container>

  <md-input-container class="md-block" flex-gt-sm>
    <label>{{ "School Class" | vocab}}</label>
    <lookup-selector id="schClass"
                     lkp="schoolClasses"
                     ng-model="vm.params.SchoolClass"
                     ng-disabled="vm.findConfig.isLocked('SchoolClass')">
    </lookup-selector>
  </md-input-container>
</div>

<div layout-gt-xs="row">
  <md-input-container class="md-block" flex-gt-sm>
    <label>{{ "School Type" | vocab}}</label>
    <lookup-selector id="schType"
                     lkp="schoolTypes"
                     ng-model="vm.params.SchoolType"
                     ng-disabled="vm.findConfig.isLocked('SchoolType')">
    </lookup-selector>
  </md-input-container>

  <md-input-container class="md-block" flex-gt-sm>
    <label>Authority</label>
    <lookup-selector id="srchAuthorities"
                     lkp="authorities"
                     ng-model="vm.params.Authority"
                     ng-disabled="vm.findConfig.isLocked('Authority')">
    </lookup-selector>
  </md-input-container>

  <md-input-container class="md-block" flex-gt-sm>
    <label for="srchAuthorityGovt">{{ "Authority Govt" | vocab}}</label>
    <lookup-selector id="srchAuthorityGovt"
                     lkp="authorityGovt"
                     ng-model="vm.params.AuthorityGovt"
                     ng-disabled="vm.findConfig.isLocked('AuthorityGovt')">
    </lookup-selector>
  </md-input-container>

  <md-input-container class="md-block" flex-gt-sm>
    <label>{{ "District" | vocab}}</label>
    <lookup-selector id="srchDistrict"
                     lkp="districts"
                     ng-model="vm.params.District"
                     ng-disabled="vm.findConfig.isLocked('District')">
    </lookup-selector>
  </md-input-container>

  <md-input-container class="md-block" flex-gt-sm>
    <label>{{ "ElectorateN" | vocab}}</label>
    <lookup-selector id="srchElectN"
                     lkp="electoraten"
                     ng-model="vm.params.ElectorateN"
                     ng-disabled="vm.findConfig.isLocked('ElectorateN')">
    </lookup-selector>
  </md-input-container>

  <md-input-container class="md-block" flex-gt-sm>
    <label>{{ "ElectorateL" | vocab}}</label>
    <lookup-selector id="srchWards"
                     lkp="electoratel"
                     ng-model="vm.params.ElectorateL"
                     ng-disabled="vm.findConfig.isLocked('ElectorateL')">
    </lookup-selector>
  </md-input-container>

  <md-input-container class="md-block" flex-gt-sm>
    <md-checkbox ng-model="vm.params.IncludeClosed" ng-true-value="1" ng-false-value="0">Include Closed Schools?</md-checkbox>
  </md-input-container>
</div>

<section layout="row" layout-align="center center">
  <md-button class="md-raised" id="Reset" ng-click="vm.Reset()"><i class="fa fa-close"></i> Clear</md-button>
  <md-button class="md-raised md-primary" id="findNow" ng-click="vm.FindNow()"><i class="fa fa-filter"></i> Filter</md-button>
</section>
