﻿<panel panel-class=""
       panel-icon="list"
       heading="Lookups"
       panel-control-collapse="true">

  <md-select ng-model="vm.table">
    <md-option></md-option>
    <md-option ng-repeat="table in vm.tableList" ng-value="table" ng-disabled="$index === 1">
      {{table}}
    </md-option>
  </md-select>

  <div ui-view="tablegrid" layout-fill></div>

</panel>
