﻿<panel panel-class=""
       panel-icon="list"
       heading="School Annual Census Workbook Upload"
       panel-control-collapse="true">

  <div layout="row" layout-margin>
    <div flex-gt-sm="33">
      <div ng-show="vm.uploader.isHTML5">
        <!-- Example: nv-file-drop="" uploader="{Object}" options="{Object}" filters="{String}" -->
        <div nv-file-drop="" uploader="vm.uploader">
          <div nv-file-over="" uploader="vm.uploader" over-class="another-file-over-class" class="well my-drop-zone">
            Drop Census Workbook here...
          </div>
        </div>
      </div>

      <!-- Example: nv-file-select="" uploader="{Object}" options="{Object}" filters="{String}" -->
      <label for="inputFile"> ... or click to select file...</label>
      <input type="file" name="inputFile" id="inputFile" nv-file-select="" uploader="vm.uploader" ng-show="false" /><br />
    </div>

    <div flex-gt-sm="66">
      <table class="md-table">
        <thead>
          <tr>
            <th width="50%">Name</th>
            <th ng-show="vm.uploader.isHTML5">Size</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in vm.uploader.queue">
            <td>
              <strong>{{ item.file.name }}</strong>
            </td>
            <td ng-show="vm.uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
            <td class="text-center">
              <span ng-show="item.isSuccess"><md-icon class="material-icons">check</md-icon></span>
              <span ng-show="item.isCancel"><md-icon class="material-icons">cancel</md-icon></span>
              <span ng-show="item.isError"><md-icon class="material-icons">error</md-icon></span>
            </td>
          </tr>
        </tbody>
      </table>

      <div>
        <md-progress-linear md-mode="indeterminate" ng-show="vm.uploader.isUploading"></md-progress-linear>
        <md-button class="md-raised md-primary" ng-click="vm.uploader.uploadAll()" ng-disabled="(vm.uploader.getNotUploadedItems().length === 0)">
          <md-icon class="material-icons md-24">cloud_upload</md-icon>
          Upload
        </md-button>
        <md-button class="md-raised md-warn" ng-click="vm.uploader.cancelAll()" ng-disabled="!vm.uploader.isUploading">
          <md-icon class="material-icons md-24">cancel</md-icon>
          Cancel
        </md-button>
        <md-button class="md-raised" ng-click="vm.uploader.clearQueue()" ng-disabled="!vm.uploader.queue.length">
          <md-icon class="material-icons md-24">clear</md-icon>
          Clear
        </md-button>
      </div>

    </div>
  </div>

	<div>
		<div ng-show="vm.uploadResponseData">
			<div>{{'District'|vocab}}: {{vm.uploadResponseData.state}}</div>
			<div>Year: {{vm.uploadResponseData.schoolYear}}</div>
			<div>No of schools:{{vm.uploadResponseData.schools}}</div>
			<div>No of pupils:{{vm.uploadResponseData.students}}</div>
			<div>File Id:{{vm.uploadResponseData.id}}</div>
		</div>
		<div ng-show="vm.progressData">
			<div>Schools: {{vm.progressData.schools}}</div>
			<div>Students: {{vm.progressData.students}}</div>
			<div>Staff: {{vm.progressData.staff}}</div>
			<div>Wash: {{vm.progressData.wash}}</div>
		</div>

		<div ng-if="vm.isProcessing">
			<span>Please wait. This could be a lot of data to process...</span>
			<md-progress-linear md-mode="indeterminate"></md-progress-linear>
		</div>

		<md-content ng-show="vm.uploadResponseData.hasValidations">
			<div>Missing or undefined school codes were found:</div>
			<table class="md-table striped">
				<thead>
					<tr>
						<th>Workheet</th>
						<th>School Name</th>
						<th>School No</th>
						<th>Occurs</th>
						<th>First Row</th>
						<th>Last Row</th>
						<th>Issue</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="v in vm.uploadResponseData.validations">
						<td>{{v.Sheet_Name}}</td>
						<td>{{v.School_Name}}</td>
						<td>{{v.School_No}}</td>
						<td>{{v.NumRows}}</td>
						<td>{{v.FirstRow}}</td>
						<td>{{v.LastRow}}</td>
						<td>{{v.valmsg}}</td>
					</tr>
				</tbody>
			</table>
		</md-content>

		<md-content ng-show="vm.uploadResponseData.hasStaffValidations">
			<div>Validation issues were found on the Staff page:</div>
			<table class="md-table striped">
				<thead>
					<tr>
						<th>Column</th>
						<th>Value</th>
						<th>Issue</th>
						<th>Occurs</th>
						<th>First Row</th>
						<th>Last Row</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="v in vm.uploadResponseData.staffValidations">
						<td>{{v.field}}</td>
						<td>{{v.errorValue}}</td>
						<td>{{v.valMsg}}</td>
						<td>{{v.NumRows}}</td>
						<td>{{v.FirstRow}}</td>
						<td>{{v.LastRow}}</td>
					</tr>
				</tbody>
			</table>
		</md-content>

		<md-content ng-show="vm.uploadResponseData.hasStudentValidations">
			<div>Validation issues were found on the Student page:</div>
			<table class="md-table striped">
				<thead>
					<tr>
						<th>Value</th>
						<th>Issue</th>
						<th>Occurs</th>
						<th>First Row</th>
						<th>Last Row</th>

					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="v in vm.uploadResponseData.studentValidations">
						<td>{{v.errorValue}}</td>
						<td>{{v.valMsg}}</td>
						<td>{{v.NumRows}}</td>
						<td>{{v.FirstRow}}</td>
						<td>{{v.LastRow}}</td>
					</tr>
				</tbody>
			</table>
		</md-content>
		<md-content ng-show="vm.processResponseData.hasValidations">
			<div>Validation issues were found in the Students page of the submitted data. Correct these probems in the source workbook, then upload the changes.</div>
			<table class="md-table striped">
				<thead>
					<tr>
						<th>Row Index</th>
						<th>Value</th>
						<th>Issue</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="v in vm.processResponseData.validations">
						<td>{{v.rowID}}</td>
						<td>{{v.errorValue}}</td>
						<td>{{v.errorMessage}}</td>
					</tr>
				</tbody>
			</table>
		</md-content>

		<md-content ng-show="vm.processResponseData.hasEnrolmentPupilTable">
			<h3>Enrolment Summary</h3>
			<pupil-table-grid pupil-table="vm.enrolmentSummary"></pupil-table-grid>
		</md-content>

		<md-content ng-show="vm.processResponseData.hasRepeaterPupilTable">
			<h3>Repeater Summary</h3>
			<pupil-table-grid pupil-table="vm.repeaterSummary"></pupil-table-grid>
		</md-content>

		<md-content ng-show="vm.processResponseData.hasPSAPupilTable">
			<h3>Starting Primary from Preschool Summary</h3>
			<pupil-table-grid pupil-table="vm.psaSummary"></pupil-table-grid>
		</md-content>

		<md-content ng-show="vm.processResponseData.hasDisPupilTable">
			<h3>Special Education</h3>
			<pupil-table-grid pupil-table="vm.disSummary"></pupil-table-grid>
		</md-content>
	</div>

</panel>
