﻿@*
  Confirmation to proess upload of Ndoe data
    uses MaterialLayoutDialog
*@

@section icon {
  <i class="cloud_upload"></i>
}

@section title {
  Workbook Uploaded
}

@section tools {
}

@* body *@

<ul>
  <li>{{"District" | vocab}}: {{dvm.info.state}}</li>
  <li>Year: {{dvm.info.schoolYear}}</li>
  <li>Schools: {{dvm.info.schools}}</li>
  <li>Students: {{dvm.info.students}}</li>
  <li>Staff:{{dvm.info.staff}}</li>
  <li>WASH: {{dvm.info.washInfo}}</li>
  <li>File ID: {{dvm.info.id}}</li>
</ul>

<p ng-show="dvm.info.hasValidations">
  Missing or undefined school codes were found in this workbook. 
</p>
<p ng-show="dvm.info.hasStaffValidations">
  Invalid data was identified on the Staff page of this workbook.
</p>
<p ng-show="dvm.info.hasStudentValidations">
	Invalid data was identified on the Students page of this workbook.
</p>
<p ng-show="dvm.info.hasStaffValidations||dvm.info.hasStudentValidations||dvm.info.hasValidations">
  Review and correct these problems, then submit the file again.
</p>

@section actions {

  <md-button ng-click="dvm.returnSuccess()" ng-disabled="dvm.info.hasValidations||dvm.info.hasStaffValidations||dvm.info.hasStudentValidations" class="md-primary">
    Process this file
  </md-button>
  <md-button ng-click="dvm.returnFail()" class="md-primary">
    Cancel - discard this data
  </md-button>
}
