﻿@using Pineapples.Models
@model PermissionSet
@* teacher qualification List
*@
<div>
  <table class="md-table striped">
    <thead>
      <tr>
        <th>Year</th>
        <th>Pre</th>
        <th>Complete</th>
        <th>Qualification</th>
        <th>Institution</th>
        <th>Duration</th>
        <th>Duration Unit</th>
        <th>Major</th>
        <th>Minor</th>
        <th>Progress</th>
        <th>Progress %</th>
        <th>Comment</th>
        <th>Operations</th>
      </tr>
    </thead>
    <tbody>
      <tr data-ng-repeat="q in vm.qualifications">
        <td>{{q.trYear}}</td>
        <td>{{q.trPre}}</td>
        <td>
          <md-icon class="material-icons  md-18 md-primary md-hue2" ng-show="q.trComplete === true">check</md-icon>
          <md-icon class="material-icons  md-18 md-warn md-hue2" ng-show="q.trComplete === false">clear</md-icon>
        </td>
        <td>{{q.trQual | lookup:'teacherQuals'}}</td>
        <td>{{q.trInstitution}}</td>
        <td>{{q.trDuration}}</td>
        <td>{{q.trDurationUnit}}</td>
        <td>{{q.trMajor}}</td>
        <td>{{q.trMinor}}</td>
        <td>{{q.trProgress}}</td>
        <td>{{q.trProgressPerc}}</td>
        <td>{{q.trComment}}</td>
        <td>
          <md-button class="md-icon-button" ng-click="vm.showQualification(q)">
            @* create is a pencil, ie 'Edit' more-horiz is the horizontal ellipsis *@
            <md-icon class="material-icons md-24 md-dark">
              <span permission permission-only="'@Model.Update'">
                create
                <md-tooltip>View / Edit details ... </md-tooltip>
              </span>
              <span permission permission-only="'@Model.Read'" permission-except="'@Model.Update'">
                more_horiz
                <md-tooltip>Details ...</md-tooltip>
              </span>
            </md-icon>
          </md-button>
          <span permission permission-only="'@Model.Delete'">
            <md-button class="md-icon-button" ng-click="vm.deleteQualification(q)">
              <md-icon class="material-icons md-24 md-dark">delete</md-icon>
              <md-tooltip>Delete this qualification</md-tooltip>
            </md-button>
          </span>
        </td>
      </tr>
    </tbody>
  </table>

  <div layout="row" permission permission-only="'@Model.Create'">
    <div flex></div>
    <md-button class="md-fab md-mini" ng-click="vm.new()">
      <md-icon class="md-24">add</md-icon>
      <md-tooltip>Add a new qualification</md-tooltip>
    </md-button>
  </div>
</div>