﻿@* teacher survey List
*@
<div>
  <table class="md-table striped">

    <thead>
      <tr>
        <th colspan="6">Survey (Workbook)</th>
        <th colspan="2">Appointment</th>
      </tr>
      <tr>
        <th>Survey Year</th>
        <th>{{"School No" | vocab }}</th>
        <th>Name</th>
        <th>Role</th>
        <th>Duties (T/A/M)</th>
        <th>Class Taught</th>
        <th>Appointment {{"School No" | vocab }}</th>
        <th>Appointment School Name</th>
      </tr>
    </thead>

    <tbody>
      <tr ng-class="{'editing': vm.editSurveyYear == survey.svyYear}" data-ng-repeat="survey in vm.surveys | orderBy: svyYear : false">
        <td>{{survey.svyYear}}</td>
        <td>{{survey.schNo}}</td>
        <td>{{survey.schName}}</td>
        <td>{{survey.roleName}}</td>
        <td>{{survey.tchTAM}}</td>
        <td>{{survey.tchClass | lookup:"levels"}}<span ng-show="survey.tchClassMax"> - </span>{{survey.tchClassMax | lookup:"levels"}}</td>
        <td>{{survey.apptSchNo}}</td>
        <td>{{survey.apptSchName}}</td>
      </tr>
    </tbody>

  </table>
</div>