﻿<div id="datadiv">

  <ol class="breadcrumb">
    <li><i class="fa fa-location-arrow"></i></li>
    <li>Quarterly Reports</li>
    <li>Dashboard</li>
  </ol>

  <div layout="row" layout-margin class="layout-margin-hack">
    <div flex="100">
      <panel panel-class="panel-primary"
             heading="Quarterly Reports (Extended Version) Dashboard"
             panel-icon="fa fa-dashboard"
             panel-collapse="true">

        <p>Coming soon...</p>

      </panel>
    </div>
    </div>

  </div>
